.widget{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1.5rem;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 5px;
    height: 100px;

    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-size: 1.4rem;
            font-weight: 600;
            color: gray;
            text-transform: uppercase;
        }

        .counter{
            font-size: 1.7rem;
            font-weight: 600;
        }

        .link{
            font-size: 1.2rem;
            font-weight: 600;
            color: gray;
            border-bottom: 1px solid gray;
            text-transform: capitalize;
        }
    }


    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .percentage{
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            gap: 5px;

            &.positive{
                color: green;
            }
            &.nevative{
                color: red;
            }
        }

        .icon{
            font-size: 2.8rem;
            background: rgba(128, 0, 128, 0.541);
            padding: 5px;
            border-radius: 2px;
            color: #fff;
            align-self: flex-end;
        }
    }
}