.navbar{
    height: 5rem;
    border-bottom: .05px solid rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    font-size: 1.4rem;
    padding: 0 2rem;


    .search{
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        border: 1px solid rgb(236, 236, 236);
        padding: 7px 15px;
        border-radius: 2px;

        input{
            outline: none;
            color: rgb(143, 143, 143);
            border: none;
            background: transparent;

            &::placeholder{
                color: rgb(143, 143, 143);
            }
        }

}


    .items{
        display: flex;
        align-items: center;
        gap: 2rem;


        .item{
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            position: relative;

            svg{
                font-size: 2rem;
            }

            img{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid rgb(236, 236, 236);
            }

            .counter{
                position: absolute;
                top: -5px;
                right: -2px;
                width: 15px;
                height: 15px;
                border-radius: 7.5px;
                background: #7451f8;
                display: grid;
                place-items: center;
                font-size: .8rem;
                color: #fff;
                font-weight: 600;
            }

            &.menu{
                display: none;
            }
        }
    }
}