/* --------google font----------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



  $width-lg-screen: 97%;
  $width-md-screen: 85%;
  $width-sm-screen: 90%;


*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  font-family: 'Montserrat', sans-serif;
}

// html, body{
//   overflow-x: hidden;
// }

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  border: none;
  outline: none;
}




.container{
  width: $width-lg-screen;
  margin: 0 auto;
}









// ----------media query(mediam screen)------------
@media screen and (max-width: 1024px){
  html{
    font-size: 58.5%;
  }
  .container{
    width: $width-md-screen;
  }
}


// ----------media query(mediam screen)------------
@media screen and (max-width: 700px){
  html{
    font-size: 55.5%;
  }
  .container{
    width: $width-sm-screen;
  }
}